/* footer start  */
footer{
    
    height: 50vh;
    position: relative;
    width: 100%;
    
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.hr-line{
   width: 45%;
}
.footer-top .hr-line hr{
    border:2px solid var(--primary);
    width: 100%;
   
}
.footerlogo{
    width: 10%;
   margin: auto;
    
}
.footerlogo img{
    width: 100%;
    object-fit: contain;
   
    padding: 10px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;
}
.map{
    margin-right: 20px;
}
.footerlogo img{
    background-color: #121212;
}
.footer-down li a{
    text-decoration: none;
    color: #EEEEEE;
    font-family: var(--description-font);
}
.footer-down li{
    margin-top: 25px;
    list-style: none;
}
.socialmedia{
    margin-top: 25px;
}
.socialmedia a{
    color: #EEEEEE;
    margin-right: 10px;
    font-size: 18px;
}
.copyright{
    font-family: "Kite One", sans-serif;
    color: #EEEEEE;
    margin-top: 4%;
    margin-left: 30px;
}
.footer-down  li a:hover{
    color: #D1B935;
}

/* footer end   */
/* responsive start  */
@media screen and (min-width:769px) and (max-width: 1200px) {
    /* footer satrt  */
footer{
    height: fit-content;
}
.footer-down{
    flex-wrap: wrap;
    width: 100%;

}
.footer-down ul li{
    font-size: 20px;
}

/* footer end   */
}
@media screen and (max-width: 768px) {
    /* footer satrt  */
footer{
    height: fit-content;
    width: 100%;
    margin: auto;
}
.footer-down{
    flex-direction: column;
    width: 100%;

}
.footer-top{
    align-items: center;
}
.footer-top img{
    width:46px;
    
} 
.footer-logo{
    margin-right: 15%;
}
.hr-line{
    width: 50%;
}
.footer-down ul li{
    font-size: 18px;
}
.map{
     margin-left: 43px; 
}
.map iframe{
    width: 100%;
}
/* footer end   */
}
/* responsive end   */